/* ========================================================
                      GLOBAL PAGE LAYOUT 
=========================================================== */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, san-serif;
    overflow-x: hidden;
    color: #777777;
    margin: 0;
    height: 100%;
    padding: 0;  
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #c9c7c7 ;
    padding: 50px 0 0 0;
}

.container {
    width: 970px;
    margin: 10px auto;
    padding: 0px 0px 10px 10px;
}

#name {
    background: #4aaaa5;
    color: #ffffff;
    display: inline;
    border: 25px #4aaaa5 solid;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    margin: 0;
}

/* ==============================================================
                             NAVIGATION
================================================================*/

nav {
    float: right;
    padding-bottom: 27px;
    margin-top: 15px;
 }

header a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #4aaaa5;
    padding: 5px;
    box-shadow: 2px 3px 1px #dfd4d4;
}

a:active {
    box-shadow: none;
}

a:hover {
    color: rgba(232, 255, 28, 0.938);
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 10px 0 10px;
}

li+li {
    border-left: 1px solid #4aaaa5;
}

/* ==============================================================
                         MAIN CONTENT
================================================================= */

#wrapper {
    flex: 1 0 auto;
}

/*.main {
    background: #ffffff;
    width: 900px;
    margin: 40px auto 0 auto;
    padding: 30px 30px 10px 30px;
    box-shadow: 7px 6px 5px #dfd4d4;
    overflow: auto;
} */

.main {
    background: #ffffff;
    width: 960px;
    margin: 40px auto 0 auto;
    padding: 30px 30px 10px 30px;
    box-shadow: 7px 6px 5px #dfd4d4;
    overflow: auto;
    box-sizing: border-box;
}

#maintitle {
    color: #4aaaa5;
    padding-bottom: 10px;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#descrip {
    line-height: 200%;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #666666;
    color: #dddddd;
    border-top: 5px solid #4aaaa5;
    font-size: 12px;
    padding-top: 22px;
    flex-shrink: 0;
}

/* =============================================================
                         CONTACT PAGE 
================================================================ */

.input {
    width: 98%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px;
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 11px 26px;
    font-size: 16px;
}

/* ============================================================
                        PORTFOLIO PAGE
=============================================================== */

.portfolioimage {
    width: 30%;
    height: 200px;
    float: left;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 6px 7px 7px #dfd4d4;
    transition: all .18s ease-in-out;
}

.portfolioimage:hover {
    transform: scale(1.008);
}

.pictext {
    position: absolute;
    background-color: #4aaaa5;
    width: 100%;
    color: white;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 15px 0 15px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.pictext a {
text-decoration: none;
color: white;
}

.pictext a:hover {
    color: rgba(204, 224, 16, 0.938);
}

.portfolioimage img {
    width: 100%;
    height: 100%;
}

.portfolioimage {
    width: 280px;
    height: 200px;
}